*.jou
profile_summary.html
profile_summary.csv
_v++_*/
.Xil/
*.ll
*.exe
data/
_x*/
emconfig.json
xmltmp
dltmp*
runtime/
*.log
xclbin/
lib/
*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*.swp
.run/
.vscode/
.ipcache/
build_dir*/
hd_visual/
